.header {
  position: absolute;
  top: calc(-1 * var(--titlebar-height));
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  height: var(--titlebar-height);
  padding: 0 var(--space-5);
  -webkit-app-region: drag;
  app-region: drag;
}

.title {
  color: var(--ink);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
